.App {
  text-align: center;
  margin: 0 auto;
}

nav {
  background: lightgrey;
  padding: 20px;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.activeNavButton {
  font-weight: bold;
}
